<div class ="container">
  <ul class="all_questions"></ul>

  <h1>Create new question</h1>
  <form class="new_question_form">
    <label>Title</label><br>
    <input type="text" name="title" class="questions_title"><br>
    <label>Content</label><br>
    <input type="textarea" name="content" class="questions_content"><br>
    <input type="submit" value="create">
  </form>

</div>
